.add_wrap { margin-top:15px; }
	.add_wrap dl dd .input { width:600px; }

.verify_messages { padding:10px; }
	.verify_messages .verifier_message { margin-top:8px; margin-bottom:12px; }
	.verify_messages .input { height:14px; padding-top:2px; padding-bottom:2px; }

	.verify_messages ul { list-style:none; margin:0; padding:0; }
	.verify_messages ul li { color:#999; font:11px Dotum; }

.add_detail_wrap { margin-top:15px; margin-bottom:10px; }
	.add_detail_wrap dl { margin:0; padding:0; height:auto; padding-top:2px; padding-bottom:2px; }
		.add_detail_wrap dt { font-weight:bold; }
		.add_detail_wrap dd { width:936px; }
			.add_detail_wrap dl dd.xml_text .point { color:#111; font-weight:normal; }
			.add_detail_wrap dl dd.url_text .point { color:#111; font-weight:normal; }

	.add_detail_wrap .options_wrap { border-top:1px solid #ccc; margin-top:10px; padding-top:4px; }

		.add_detail_wrap .options_wrap dd { margin-bottom:4px; margin-top:2px; }
		.add_detail_wrap .options_wrap .help { margin-top:5px; }
		.add_detail_wrap .options_wrap .input { width:300px; }
		
		.add_detail_wrap .options_wrap h4 { margin-top:10px; }

		.add_detail_wrap .options_wrap ol { margin:0; padding:0; padding-left:18px; font-size:12px; padding-bottom:4px; }
		.add_detail_wrap .options_wrap ol li { margin-top:8px; }

		.add_detail_wrap .options_wrap ol.notice { margin-top:10px; margin-bottom:10px; font-size:11px; }

.opml_wrap { margin-top:15px; padding-top:20px; background:url(../images/admin/bg_line.gif) repeat-x top; }
	.opml_wrap .opmlImport { display:none; padding:12px; margin-top:4px; margin-bottom:14px; margin-left:62px; width:400px; background:#f4f4f4; border:1px solid #aaa; }

	.opml_wrap .opmlImport .input { width:300px; }
	.opml_wrap .opmlImport .help { margin-top:10px; }