@charset "utf-8";

/* 기본 설정 */

body {
	background: #f2f2f2;
	font:12px Dotum;
	color:#545454;
}

img { border:0; }

form { margin:0; padding:0; }

.clear { clear:both; height:0; font-size:0; }

#logo { padding-left:10px; }

#container { width:515px; margin:0 auto; margin-top:150px; }
	.line { background:none; border:none; height:0; border-bottom:1px solid #eaeaea; font-size:0; padding:0; margin:0; margin-bottom:3px; }

	#login_wrap { width:310px; float:left; border-right:1px dotted #e5e5e5; }
		#login_wrap .messages { height:90px; overflow:hidden; padding-top:4px; padding-right:10px; }
			#login_wrap .messages .error { background:#ffeeee; padding:5px; }
		#login_wrap .toolbar  { margin-top:10px; padding-top:10px; border-top:1px solid #eaeaea; margin-right:10px; }

		#login_wrap table { margin-top:5px; }
			#login_wrap table .input_td { height:28px; padding-right:10px; }
			#login_wrap table .bt_td { padding-top:3px; }

		#login_wrap .input { width:202px; padding-left:4px; padding-right:4px; background:#f2f2f2; border-left:1px solid #cacaca; border-top:1px solid #cacaca; border-right:1px solid #d7d7d7; border-bottom:1px solid #d7d7d7; }
		
		#login_wrap .save_id { font-size:11px; margin-top:2px; color:#777; }
			#login_wrap .save_id label { margin-left:4px; cursor:pointer; }

		#login_wrap .join_message { margin-top:12px; font-size:11px; }
			#login_wrap a { color:#7d7d7d; text-decoration:none; }
			#login_wrap a:hover { text-decoration:underline; }

	#temp_images { width:150px; height:20px; padding-top:114px; float:right; background:url(../images/admin/login_character.gif) no-repeat center; margin-right:10px; text-align:right; }