/* modal basic */

#modalOverlay {
	  background-color:#000;
}

.modalContainer {
	  left:50%;
	  top:15%;
}

.modalContainer a.modalCloseImg {
	display:none; 
}

a.modalClose { 
	text-decoration:none; 
}

.modal {
	display:none;
}

.modalWrap {
	background:#ffffff;
	border:1px solid red;
}

.modalTitle {
	 background-color:#555;
	 text-align:right;
	 padding:6px; 
	 padding-top:4px;
}

.modalDataWrap {
	 border:3px solid #00a89c; 
	 margin:4px;
	 padding:8px;
}

.modalInput {
}

.makeModal {
	display:none;
}

.modalShadow1 {
	background-color:#000;
	font-size:0;
	position: absolute;
	width:100%;
	line-height:1px;

	opacity:.10;
	filter: alpha(opacity=10); 
	-moz-opacity: 0.10;
}

.modalShadow2 {
	background-color:#000;
	font-size:0;
	position: absolute;
	width:100%;
	line-height:2px;

	opacity:.05;
	filter: alpha(opacity=5); 
	-moz-opacity: 0.05;
}

/* adminModal */

.adminModal {
	position:absolute;
	z-index:99;
	border:10px solid #efefef;
	background-color:#ffffff;
	display:none;
}

.adminModalFrame { 
	border:0;
}
