@charset "utf-8";

* {	margin: 0px; padding: 0px;	border:0px; }
body { font:12px Dotum; color:#6d6d6d; background:#ffffff; margin:0; padding:0; }
.clear { clear:both; }
.strong { font-weight:bold; }

/* layout */

#wrap { width:1000px; margin:0 auto; }


#header {}
	#header #logo_image { float:left; }	
		#header #logo_image.logo_image_nonexistence { display:none; }

	#header #logo_text { float:left; font-size:14px; font-weight:bold;  margin-top:14px; background:url("./images/bg_logo_title.gif") repeat-x bottom; padding-bottom:5px; }
		#header #logo_text.logo_image_exist { display:none; }

		#header #logo_text a { color:#333333; text-decoration:none; }
		#header #logo_text a:hover { color:#aaa; }

	#header #login_text { float:right; background:#4c4c4c; height:23px; overflow:hidden; text-align:center; _width:120px; }
		#header #login_text .left { background:url("./images/bg_login.gif") no-repeat left; }
		#header #login_text .right { background:url("./images/bg_login.gif") no-repeat right;  }

		#header #login_text .data { color:#858484; height:17px; padding-top:6px; padding-left:10px; padding-right:10px; font:11px Dotum; }
		#header #login_text .data .sep { margin-left:4px; margin-right:4px; }
		#header #login_text a { color:#ffffff; text-decoration:none; }
		#header #login_text a:hover {  color:#aaa; }

#container #main_table { width:100%; margin-top:10px;  }
	#container #main_table #left_sidebar { width:170px; background:#f7f7f7; vertical-align:top; margin-top:5px; }
	#container #main_table #main { vertical-align:top; }

	#container #main_table #main #main_top { margin-left:10px; height:30px; background:url("./images/bg_main_top.gif") repeat-x bottom; margin-bottom:10px; }
	#container #main_table #main #main_data { width:600px; margin-left:10px; float:left; }
	#container #main_table #main #right_sidebar { width:210px; float:right;  }

/* main_top */

	#container #main_table #main #main_top .tab_menu { float:left; height:30px; overflow:hidden;  }
		#container #main_table #main #main_top .tab_menu ul { list-style:none; margin:0; padding:0; padding-left:5px; }
		#container #main_table #main #main_top .tab_menu ul li { float:left; margin-top:12px; _width:80px; text-align:center;  }
		#container #main_table #main #main_top .tab_menu ul li a { color:#444; text-decoration:none; }
		#container #main_table #main #main_top .tab_menu ul li a:hover { color:#aaa; }

			#container #main_table #main #main_top .tab_menu ul li	{ margin-top:5px; background:url("./images/bg_tab_ucenter.gif") repeat-x; height:25px; width:80px; }
				#container #main_table #main #main_top .tab_menu ul li span { display:block; background:url("./images/bg_tab_uleft.gif") no-repeat left top; width:100%; height:100%; }
				#container #main_table #main #main_top .tab_menu ul li span span { display:block; background:url("./images/bg_tab_uright.gif") no-repeat right top; width:100%; height:100%; }
				#container #main_table #main #main_top .tab_menu ul li span span span { display:block; background:none; width:auto; padding-top:8px; padding-left:10px; padding-right:10px;  }

			#container #main_table #main #main_top .tab_menu ul.position_index li.position_value_index,
			#container #main_table #main #main_top .tab_menu ul.position_focus li.position_value_focus	{ margin-top:5px; background:url("./images/bg_tab_center.gif") repeat-x; height:25px; }
				#container #main_table #main #main_top .tab_menu ul.position_index li.position_value_index span,
				#container #main_table #main #main_top .tab_menu ul.position_focus li.position_value_focus span { display:block; background:url("./images/bg_tab_left.gif") no-repeat left top; width:100%; height:100%; }
				#container #main_table #main #main_top .tab_menu ul.position_index li.position_value_index span span,
				#container #main_table #main #main_top .tab_menu ul.position_focus li.position_value_focus span span { display:block; background:url("./images/bg_tab_right.gif") no-repeat right top; width:100%; height:100%; }
				#container #main_table #main #main_top .tab_menu ul.position_index li.position_value_index span span span,
				#container #main_table #main #main_top .tab_menu ul.position_focus li.position_value_focus span span span { display:block; background:url("./images/icon_arrow_down.gif") no-repeat right 12px; width:auto; padding-top:8px; padding-left:10px; padding-right:10px; margin-right:8px; font-weight:bold; }

	#container #main_table #main #main_top .search_wrap { float:right; width:220px; text-align:right; }
		.search_wrap .input { border:1px solid #d8d8d8; width:150px; font-size:12px; height:17px; padding-top:2px; }
	#container #main_table #main #main_top .rss_wrap { float:right; width:32px; border-right:1px solid #e9e9e9; text-align:center; margin-top:3px; }

/* message */
.search_message_wrap {
	font-size:14px; font-weight:bold; color:#999;
	margin-bottom:10px; margin-top:5px;
	border-bottom:1px solid #ccc;
	padding-bottom:10px;
}

.search_message_wrap .message { padding-left:5px; padding-right:5px; }
.search_message_wrap .text { color:#07a3c9; margin-right:3px; }
.search_message_wrap .count { color:#000000; margin-left:5px; margin-right:3px; }
		.search_message_wrap .data { float:left; }

			.search_message_wrap .thumbnail { float:left; width:90px; }
			.search_message_wrap .thumbnail img { width:80px; }

			.search_message_wrap .search_blog { background:#f8f8f8; padding:10px; margin-bottom:10px; }
			.search_message_wrap .search_blog h3 { color:#000; font-size:14px; margin:0; padding:0; margin-bottom:4px; }
			.search_message_wrap .search_blog .address { font-size:11px; font-weight:normal; color:#aaa; }
				.search_message_wrap .search_blog .address a { color:#aaa; text-decoration:none; }
				.search_message_wrap .search_blog .address a:hover { text-decoration:underline; }

				.search_message_wrap .search_blog .desc { font-size:11px; margin-top:8px; font-weight:normal; color:#999;}

/* error */
.error_wrap { padding-left:20px; margin-top:20px; }
	.error_wrap h3 { color:#333; margin-bottom:6px; }

/* postlist */

.postlist_wrap { padding:5px; }
	.postlist_wrap ul { list-style:none; margin:0; }
	.postlist_wrap ul li { margin-top:0px; margin-bottom:10px; padding-bottom:10px; border-bottom:1px solid #f2f2f2; }
	.postlist_wrap ul li.lastItem { border:0; margin-bottom:0; padding-bottom:10px; }
	.postlist_wrap ul li.hidden .visibility { display:inline; }
	.postlist_wrap ul li.visible .visibility { display:none; }

		.postlist_wrap .postlist .thumbnail { float:left; margin-right:14px; }
			.postlist_wrap .postlist .thumbnail img { width:80px;}
		.postlist_wrap .postlist .data { float:left; width:495px; }
			.postlist_wrap .postlist .post_thumbnail_nonexistence .data { width:590px; }

				.postlist_wrap .postlist .data h3 { font-size:14px; margin:0; margin-bottom:6px; }
				.postlist_wrap .postlist .data h3 a { color:#000000; text-decoration:none; }
				.postlist_wrap .postlist .data h3 a:hover { text-decoration:underline; }

			.postlist_wrap .postlist .data .desc { font-size:12px; color:#999; line-height:16px; }
				.postlist_wrap .postlist .data .desc .empty { color:#bbb; }
				.postlist_wrap .postlist .data .desc .point { font-weight:bold; color:#777; }

			.postlist_wrap .postlist .data .extra { float:left; color:#989898; margin-top:8px; font-size:11px; }
				.postlist_wrap .postlist .data .extra .sep { color:#ccc; margin-left:4px; margin-right:4px; }

				.postlist_wrap .postlist .data .extra a { color:#333333; text-decoration:none; }
				.postlist_wrap .postlist .data .extra a:hover { text-decoration:underline; }

				.postlist_wrap .postlist .data .vote { float:left; font-size:11px; color:#97ae26; margin-top:8px;  }
					.postlist_wrap .postlist .data .vote .count { font-weight:bold; }
				
				.postlist_wrap .postlist .data .vote_button { float:left; margin-left:6px; margin-top:7px; }
					.postlist_wrap .postlist .data .vote_button .isntBoomedUp span,
					.postlist_wrap .postlist .data .vote_button .isBoomedUp span { visibility:hidden; }

					.postlist_wrap .postlist .data .vote_button .isntBoomedUp { float:left; background:url("./images/bt_vote_off.gif") no-repeat; width:26px; height:15px; text-decoration:none; }
					.postlist_wrap .postlist .data .vote_button .isBoomedUp {  float:left;  background:url("./images/bt_vote_on.gif") no-repeat; width:26px; height:15px; text-decoration:none; }
			
			.postlist_wrap .postlist .tags { padding-top:8px; font-size:11px; line-height:20px; }
				.postlist_wrap .postlist .tags a { color:#999; text-decoration:none; }
				.postlist_wrap .postlist .tags a:hover { color:#333; text-decoration:underline; }

		/* hidden post */
			.postlist_wrap ul li.hidden .data h3 { color:#aaa; }
				.postlist_wrap ul li.hidden .data h3 a { color:#ccc; }
			.postlist_wrap ul li.hidden .data .desc { color:#ccc; }
			.postlist_wrap ul li.hidden .data .extra { color:#ccc; }
				.postlist_wrap ul li.hidden .data .extra a { color:#ccc; }

			.postlist_wrap ul li.hidden .thumbnail { opacity:.40; filter: alpha(opacity=40); -moz-opacity: 0.40; }
			.postlist_wrap ul li.hidden .boom { display:none; }

/* feedlsit */

	.feedlist_wrap { padding:5px; padding-top:0;  }
		.feedlist_wrap ul { list-style:none; margin:0; padding:0; }
		.feedlist_wrap ul li { margin-top:5px; margin-bottom:10px; padding-bottom:10px; border-bottom:1px solid #eaeaea; }
	.feedlist_wrap ul li.lastItem { border:0; margin-bottom:0; padding-bottom:10px; }

		.feedlist_wrap .feedlist .thumbnail { float:left; margin-right:10px; }
			.feedlist_wrap .feedlist .thumbnail img { width:80px; }
		.feedlist_wrap .feedlist .data { float:left; width:495px; }
			.feedlist_wrap .feedlist .data h3 { font-size:14px; margin:0; margin-bottom:6px; }
				.feedlist_wrap .feedlist .data h3 a { color:#000000; text-decoration:none; }
				.feedlist_wrap .feedlist .data h3 a:hover { text-decoration:underline; }
		
			.feedlist_wrap .feedlist .data .extra { color:#eee; margin-bottom:8px; font-size:11px;}
				.feedlist_wrap .feedlist .data .extra a { color:#aaa; text-decoration:none; }
				.feedlist_wrap .feedlist .data .extra a:hover { text-decoration:underline; }
			
			.feedlist_wrap .feedlist .data .desc { color:#999; margin-bottom:8px; font-size:11px;}
			.feedlist_wrap .feedlist .data .date { color:#aaa; margin-bottom:8px; font-size:11px;}

		.feedlist_wrap .feedlist .feedlist_more { border-top:1px dotted #eee; padding-top:10px;}
			.feedlist_wrap .feedlist .feedlist_more ul { list-style:none; margin:0; font-size:11px; background:#f8f8f8; padding:4px; padding-bottom:0; }
			.feedlist_wrap .feedlist .feedlist_more ul li { margin:0; padding:0; border:0; background:url(./images/bg_li2.gif) no-repeat 2px 5px; padding-left:10px; margin-bottom:4px; }
			.feedlist_wrap .feedlist .feedlist_more ul li a { color:#666; text-decoration:none; }
			.feedlist_wrap .feedlist .feedlist_more ul li a:hover { text-decoration:underline; }
			
			.feedlist_wrap .feedlist .feedlist_more ul li .date { color:#aaa; }
			
			.feedlist_wrap .feedlist h4 { color:#666; font-size:11px; font-weight:bold; margin-bottom:8px; float:left; }
			.feedlist_wrap .feedlist .more { font-size:11px; float:right; }
				.feedlist_wrap .feedlist .more a { color:#888; text-decoration:none; }
				.feedlist_wrap .feedlist .more a:hover { text-decoration:underline; }
			


/* sidebar */			

.sidebar_item {
	
}

.sidebar_item ul {
	list-style:none; margin:0; padding:0;
}

.sidebar_item h3 .left {
	float:left;
}

.sidebar_item h3 .right {
	float:right;
}

/* left_sidebar */			

#left_sidebar .top_margin {
	height:7px; background:#ffffff;
}

#left_sidebar .sidebar_item {
	border-top:2px solid #d1d1d1;
	padding-top:8px;
	padding-left:5px; padding-right:5px;
	padding-bottom:20px;
}

#left_sidebar .sidebar_item h3 {
	padding-bottom:5px;
	margin-bottom:4px;
	background:url("./images/bg_line.gif") repeat-x bottom;
	padding-left:6px; padding-right:6px;
}
		
#left_sidebar .sidebar_item ul {
	padding:5px;
}

#left_sidebar .sidebar_item ul li {
	padding-left:10px;
	background:url("./images/bg_li.gif") no-repeat 0px 5px; 
	font:11px Dotum;
	margin-bottom:5px;
	overflow:hidden;
	height:13px;
	line-height:13px;
}

#left_sidebar .sidebar_item ul li a { 
	color:#5f5f5f;
	text-decoration:none;
}

#left_sidebar .sidebar_item ul li a:hover { 
	text-decoration:underline;
}

/* right_sidebar */

#right_sidebar .sidebar_item {
	border-bottom:1px solid #eee;
	margin-bottom:20px;
}

#right_sidebar .sidebar_item h3 {
	padding-bottom:2px;
	margin-bottom:4px;
	padding-left:3px; padding-right:3px;
	border-bottom:2px solid #898989;
}

#right_sidebar .sidebar_item ul {
	padding-top:5px; padding-bottom:10px;
}

#right_sidebar .sidebar_item ul li {
	padding-left:6px; padding-right:6px;	
}

#right_sidebar .sidebar_item ul li .title { font-weight:bold; }
#right_sidebar .sidebar_item ul li .title a { color:#444; text-decoration:none; }
#right_sidebar .sidebar_item ul li .title a:hover { text-decoration:underline; }

/* focus */
.focuspost .thumbnail { float:left; margin-right:10px; }
	.focuspost .thumbnail img { width:36px; margin-bottom:5px; }
.focuspost .data { float:left; width:150px; }
	.focuspost .focus_thumbnail_nonexistence .data { width:189px; }
.focuspost .data .title { height:14px; overflow:hidden; margin-top:4px; line-height:14px; }
.focuspost .data .description { font-size:11px; margin-top:2px; color:#999; }
.focuspost .data .extra { font-size:11px; color:#999999; margin-top:2px; margin-bottom:5px; }
	.focuspost .data .extra .sep { margin-left:4px; margin-right:4px; color:#e8e8e8; }

/* boom */
.boompost .thumbnail { float:left; margin-right:10px; }
	.boompost .thumbnail img { width:36px; margin-bottom:5px; }
.boompost .data { float:left; width:150px; }
	.boompost .boom_thumbnail_nonexistence .data { width:189px; }
.boompost .data .title { height:14px; overflow:hidden; margin-top:4px; line-height:14px; }
.boompost .data .description { font-size:11px; margin-top:2px; color:#999; }
.boompost .data .extra { font-size:11px; color:#999999; margin-top:2px; margin-bottom:5px; }
	.boompost .data .extra .sep { margin-left:4px; margin-right:4px; color:#e8e8e8; }

#right_sidebar .rsslist { border:1px solid #d5d5d5; background:#fcfcfc; margin-bottom:0; }
	#right_sidebar .rsslist h3 { margin:8px; padding-bottom:4px; background:url("./images/bg_line2.gif") repeat-x bottom; border-bottom:0; }

	#right_sidebar .rsslist ul { margin:0; padding:0; padding-left:4px; }
	#right_sidebar .rsslist ul li { margin-bottom:6px; font:11px Dotum; color:#555; }

	#right_sidebar .rsslist a { color:#555; text-decoration:none; }
	#right_sidebar .rsslist a:hover { text-decoration:underline; }

#right_sidebar .sidebar_item_shadow { border-top:1px solid #f3f3f3; font-size:0; line-height:0; height:0; margin-bottom:10px; }

/* paging */

#paging { position:relative; text-align:center; width:100%; margin-top:10px; margin-bottom:10px; color:#777; font-size:11px; /*border-top:1px solid #ededed;*/ padding-top:14px; _padding-bottom:4px; }
	#paging .num { text-decoration:none; color:#777; margin-left:2px; margin-right:2px; border:1px solid #eee; padding:5px; padding-top:2px; padding-bottom:2px; }
	#paging .num:hover { background:#f8f8f8; }
	#paging .selected { color:#ffffff; font-weight:bold; border:1px solid #666; background:#666; }
	#paging .selected:hover { border:1px solid #888; background:#888; }

	#paging .prevnext { position:absolute; left:4px; top:14px; color:#ddd; }
		#paging .prevnext a { color:#777; text-decoration:none; }
		#paging .prevnext a:hover { text-decoration:underline; }
	
	#paging .top { position:absolute; right:4px; top:14px; color:#ddd; }
		#paging .top a { color:#777; text-decoration:none; }
		#paging .top a:hover { text-decoration:underline; }

/* footer */

#footer { margin-top:10px; border-top:1px solid #d0d0d0; border-bottom:1px solid #eeeeee; margin-bottom:10px; }
	#footer .category { border-bottom:1px solid #e4e4e4; background: #fdfdfd; padding-left:10px; padding-right:10px; font:11px Dotum; padding-top:12px; padding-bottom:10px; }
		#footer .category strong { color:#4c4c4c; }
		#footer .category .sep { color:#9d9d9d; margin-left:5px; margin-right:5px; }
		
		#footer .category .title { float:left; width:40px; padding-top:3px; }
		#footer .category ul { float:left; width:940px; list-style:none; margin:0; padding:0; line-height:20px; }
		#footer .category ul li { display:inline; margin-right:5px; }
			#footer .category ul li a { color:#898989; text-decoration:none; }
			#footer .category ul li a:hover { text-decoration:underline; }
			#footer .category ul li .count { color:#aaa; margin-left:3px; }

	#footer .messages { padding-top:12px; padding-bottom:8px; padding-left:10px; }
		#footer .messages .stats { float:left; color:#868686; font:11px Dotum; }
			#footer .messages .stats strong { font-weight:bold; color:#515050; margin-right:2px; }

		#footer .messages .powered { float:right; width:220px; text-align:center; border-left:1px solid #e9e9e9; }
